.App{
  background-image: linear-gradient(to bottom right, #274472, 
  #ABC7E3);
  color: #C3E0E5;
  font-family: Andale mono, Trebuchet, Helvetica, Tahoma, Verdana, sans-serif;
}

header{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 25vh;
  width: 100vw;
  font-size: x-large;
  font-weight: bold;
  background-color: #274472;
  border-style: solid;
  border-width: 7px;
  border-color: blue;
 }

 #square{
  height: 120px;
  width: 90px;
  border-style: solid;
  border-width: 7px;
  color: #C3E0E5;
 }

 #portrait{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 90px;
 }

 #headertext{
  font-weight: bold;
  font-size: 2em;
 }


 main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 75vh;
  width: 100vw;
}

#maintext{
  height: 30vh;
  width: 40vw;
  font-size: 1.5em;
}

#picture{
  height: 40vh;
  width: 20vw;
  border-radius: 1000000000000px;
}

#aside{
  height: 30vh;
  width: 20vw;
  font-size: 1.5em;
}

footer {
  height: 10vh;
  width: 80vw;
  font-weight: bold;
  font-size: 2em;
  padding-left: 10px
}